@using ShopInfoManagementMVC.Models;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Block> blocks = ViewBag.Blocks;
    List<Level> levels = ViewBag.Levels;
}

<h2>Create Shop</h2>
<h3><a href="@Url.Action("Index")">Back to Shop List</a></h3>

@if (!ViewBag.IsSaved)
{
    <div class="alert alert-danger">
        <p>Please enter unique Shop Name</p>
    </div>
}

<form method="post" id="shopForm">
    <div class="form-group">
        <input class="form-control" type="text" name="ShopName" placeholder="Enter shop name" />
    </div>

    <div class="form-group">
        <input class="form-control" type="text" name="ContactNo" placeholder="Enter contact no" />
    </div>

    <div class="form-group">
        <select class="form-control" name="LevelId">
            <option value="0">Select Level</option>
            @foreach (var level in levels)
            {
                <option value="@level.LevelId">@level.LevelNo</option>
            }
        </select>
    </div>

    <div class="form-group">
        <select class="form-control" name="BlockId">
            <option value="0">Select Block</option>
            @foreach (var block in blocks)
            {
                <option value="@block.BlockId">@block.BlockNo</option>
            }
        </select>
    </div>

    <div class="form-group">
        <input class="form-control" type="date" name="OpeningOn" />
    </div>

    <input type="submit" class="btn btn-block btn-primary" />

</form>

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            $("#shopForm").validate({
                rules: {
                    ShopName: {
                        required: true
                    },
                    ContactNo: {
                        required: true
                    },
                    LevelId: {
                        min: 1
                    },
                    BlockId: {
                        min: 1
                    }
                },

                messages: {
                    ShopName: {
                        required: "Please enter shop name"
                    },
                    ContactNo: {
                        required: "Please enter contact no"
                    },
                    LevelId: {
                        min: "Please select level"
                    },
                    BlockId: {
                        min: "Please select block"
                    }
                }
            })
        })
    </script>
}
