@model IEnumerable<ShopInfoManagementMVC.Models.ShopViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int serial = 0;
}

<h2>Shops of Basundhara City</h2>
<h3><a href="@Url.Action("Create")">Create New</a></h3>


<form method="post" action="/Shops/Index">
    <div class="form-group">
        <input class="form-control" type="text" name="shopName" placeholder="Enter shop name to search" />
        <br />
        <input type="submit" value="Show" class="btn btn-success" />
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>SL</th>
            <th>Shop Name</th>
            <th>Contact No</th>
            <th>Level</th>
            <th>Block</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shop in Model)
        {
            serial++;

            <tr>
                <td>@serial</td>
                <td>@shop.ShopName</td>
                <td>@shop.ContactNo</td>
                <td>@shop.LevelId</td>
                <td>@shop.BlockNo</td>
            </tr>
        }
    </tbody>
</table>


