@model IEnumerable<BindingModel.Models.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 0;
}

@*<h2>Index</h2>
<p>@Model.Name</p>
<p>@Model.City</p>
<p>@Model.Age</p>*@

<table class="table">
    <thead>
        <tr>
            <th>SL#</th>
            <th>Name</th>
            <th>City</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            sl++;
            <tr>
                <td>@sl</td>
                <td>@student.Name</td>
                <td>@student.City</td>
                <td>@student.Age</td>
            </tr>
        }
    </tbody>
</table>
